body{
  box-sizing: border-box;
  font-family: Bitter;
}
#index-h1 {
  display: inline;
  padding-right: 5%;
}
header img {
  display: block;
  margin: auto;
  max-width: 100%;
}
/**********************Start Section********************************/
#start {
  text-align: center;
  margin: auto;
  padding: 20px;
}
h3 {
  padding: 1em;
}
form {
  text-align: center;
}
input {
    display: inline-block;
    width: 6em;
    position: relative;
    top: -3.5em;
    text-align: center;
}
label {
    display: inline-block;
    width: 6em;
    margin-right: .5em;
    padding-top: 1.5em;

}
#rules p {
  text-align: center;
  font-size: 1.5em;
}

/**********************Game Section********************************/

#game-area {
  display: none;
  width: 1600px;
  height: 200px;
  margin: 120px auto;
}
#left-score-div, #right-score-div {
  width: 100px;
  height: 200px;
  float: left;
}
#right-score-div {
  text-align: right;
}
#left-player-div, #right-player-div {
  width: 400px;
  height: 200px;
  float: left;
}
#left-paddle-div, #right-paddle-div, #center-div {
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
}
#left-score, #right-score {
  font-size: 2em;
  margin: auto;
}

#left-number, #right-number {
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  font-size: 10em;
}
.countdown {
  font-size: 10em;
  text-align: center;
  margin: auto;
}
#countdown3 {
  display: none;
}
#countdown2 {
  display: none;
}
#countdown1 {
  display: none;
}
#countdown-start {
  display: none;
  font-size: 8em;
}
